:root {
    --size-small: 20px;
    --size-medium: 30px;
    --size-large: 40px;
    --size-huge: 60px;
    --size-gargantuan: 100px;
    --size-border-radius: 10px;
    --monochrome-main-background: white;
    --monochrome-button-background: lightgray;
    --colorized-main-background: #EEFFFF;
    --colorized-button-background: #AAAAFF;
}


html {
    background-color: var(--monochrome-main-background);
}

button {
    background-color: var(--monochrome-button-background);
    border-radius: 25%;
}

button {
    border-radius: 25%;
}

.current {
    display: grid;
    grid-template-columns: repeat(3, var(--size-gargantuan));
}

.current-element {
    height: var(--size-huge);
    line-height: var(--size-small);
    text-align: center;
    border: 1px solid black;
    border-radius: var(--size-border-radius);
    background-color: white;
    color: black;
}

.big-font {
    font-size: var(--size-medium);
    line-height: var(--size-large);
}

.medium-font {
    font-size: var(--size-small);
    line-height: var(--size-large);
}

#results {
    display: grid;
    grid-template-columns: repeat(10, var(--size-medium));
}

.result {
    border: 1px solid black;
    height: var(--size-medium);
    text-align: center;
    line-height: var(--size-medium);
    background-color: white;
    color: black;
    font-size: var(--size-font);
}

.button-row {
    display: grid;
    grid-template-columns: repeat(10, var(--size-medium));
}

.roll-button {
    height: var(--size-medium);
    width: var(--size-medium);
    line-height: var(--size-medium);
    font-size: var(--size-font);
}

@media only screen and (min-width: 480px) {

    :root {
        --size-small: 30px;
        --size-medium: 45px;
        --size-large: 60px;
        --size-huge: 90px;
        --size-gargantuan: 150px;
        --size-border-radius: 15px;
        --size-font: 24px;
    }
}


@media only screen and (min-width: 768px) {

    :root {
        --size-small: 50px;
        --size-medium: 75px;
        --size-large: 100px;
        --size-huge: 150px;
        --size-gargantuan: 250px;
        --size-border-radius: 25px;
        --size-font: 24px;
    }
}

